<div class="galeria">
  <h1>Proyects</h1>
  <div>
      <div class="contenedor-imagenes">
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/ArduinoUno.jpg">
              <div class="overlay">
                  <h2 class="item-title">Arduino Uno:</h2>
                  <br>
                  <p class="item">Perfecto para iniciar <br> A solo:</p>
                  <h5 class="item-price">S/.30.00</h5>
                  <br>
                  <button class="item btn btn-outline-dark button" id="treinta">Añadir al carrito</button>
              </div>
          </div>
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/PotenA1k.jpg">
              <div class="overlay">
                  <h2 class="item-title">Potenciometro A1k:</h2>
                  <br>
                  <p>Regula lo que quieras con presision<br> A solo:</p>
                  <h5 class="item-price">S/. 2.50</h5>
                  <br>
                  <button class="item btn btn-outline-dark button">Añadir al carrito</button>
              </div>
          </div>
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/ModuloBT.jpg">
              <div class="overlay">
                  <h2 class="item-title">Modulo BT de Transmision:</h2>
                  <br>
                  <p>Envia tu musica preferida sin ataduras<br> A solo:</p>
                  <h5 class="item-price">S/. 13.00</h5>
                  <br>
                  <button class="item btn btn-outline-dark button">Añadir al carrito</button>
              </div>
          </div>
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/raspberry-pi-3-b-plus.jpg">
              <div class="overlay">
                  <h2 class="item-title">Raspberry Pi 3B:</h2>
                  <br>
                  <p>Da un paso mas en tus proyectos<br> A solo:</p>
                  <h5 class="item-price">S/.150.00</h5>
                  <br>
                  <button class="item btn btn-outline-dark button">Añadir al carrito</button>
              </div>
          </div>
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/modulo-diodo-laser-rojo.jpg">
              <div class="overlay">
                  <h2 class="item-title">LED laser rojo:</h2>
                  <br>
                  <p>Usalo con sabiduria y cuidado<br> A solo: </p>
                  <h5 class="item-price">S/. 4.10</h5>
                  <br>
                  <button class="item btn btn-outline-dark button">Añadir al carrito</button>
              </div>
          </div>
          <div class="item-all imagen">
              <img class="item-image" src="./Imagenes/arduinopromicro.jpg">
              <div class="overlay">
                  <h2 class="item-title">LED laser rojo:</h2>
                  <br>
                  <p>Para cualquier proyecto<br> A solo:</p>
                  <h5 class="item-price">S/. 47.40</h5>
                  <br>
                  <button class="item btn btn-outline-dark button">Añadir al carrito</button>
              </div>
          </div>

      </div>
  </div>
</div>
